.text-container {
  display: flex;
  align-items: center;
  /* margin: 20px; */
}

.left-line,
.right-line {
  flex-grow: 1;
  height: 1px;
  margin: 0 5px;
  border: none;
  background-color: black;
}

.text {
  font-weight: 500;
  font-size: 16px;
}
